:root{
    --primary : #000A61;
    --font-color : #FF9900;
    --font-color-2 : #A6A5FF;
}

.logo{
    line-height: 5px;
}


.bg-theme-primary{
    background-color: var(--primary);
}

.fc-primary-logo{
    color: var(--font-color);
    font-weight: bold;
}

.fc-secondary-logo{
    color: var(--font-color-2);
}



.input-primary{
    outline: none;
    border: none;
    background: none;
    padding: 10px 20px;
    border: 1px rgb(165, 165, 165) solid;
    margin: 5px 0;
    border-radius: 20px;
}

.btn-primary{
    outline: none;
    border: none;
    background: none;
    background-color: var(--primary);
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}