@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

*{
    font-family: 'Poppins', sans-serif !important;
}


:root{
    --primary : #000A61;
    --font-color : #FF9900;
    --font-color-2 : #A6A5FF;
    --btn-bg-hover : #000a7b;
    --container-bg : #EFEFEF;
}


.logo{
    line-height: 5px;
}

.navs-icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.navs-btn:hover{
    background-color: var(--btn-bg-hover) !important;
    transition: 280ms;
}


.bg-gui{
    background-color: var(--container-bg) !important;
}

.bg-theme-primary{
    background-color: var(--primary) !important;
}

.fc-primary-logo{
    color: var(--font-color);
    font-weight: bold;
}

.fc-secondary-logo{
    color: var(--font-color-2);
}


.border-rounded{
    border-radius: 20px !important;
}

/* fix size class */
.s-1{
    width: 250px;
}


/* Login */

.lh-sm{
   transform: translateY(35px);
}

.monitor{
    color: var(--primary);
    transform: translateY(-11px);
}

.input-primary{
    outline: none;
    border: none;
    background: none;
    padding: 10px 20px;
    border: 1px rgb(165, 165, 165) solid;
    margin: 5px 0;
    border-radius: 15px;
}

.input-primary.error{
    border: 1px rgb(204, 92, 92) solid;
    transition: 0.5s;
}


.btn-primary{
    outline: none;
    border: none;
    background: none;
    background-color: var(--primary);
    padding: 7px 30px;
    color: white;
    margin: 25px 0;
    border-radius: 20px;
}

.btn-primary:hover{
    background-color: var(--btn-bg-hover);
    transition: 280ms ease-in-out;
}

.icon-primary{
    width: 124px;
    height: 124px;
    object-fit: contain;
    margin-right: 10px;
}

/* End of Login area */







