@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

*{
    font-family: 'Poppins', sans-serif !important;
}


:root{
    --primary : #000A61;
    --font-color : #FF9900;
    --font-color-dark : #c77700;
    --font-color-2 : #A6A5FF;
    --btn-bg-hover : #000a7b;
    --container-bg : #EFEFEF;
    --dark-hover : #C0C0C0;

}


.logo{
    line-height: 5px;
}

.navs-icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.navs-btn:hover{
    background-color: var(--btn-bg-hover) !important;
    transition: 280ms;
}


.bg-gui{
    background-color: var(--container-bg) !important;
}

.bg-gui:hover{
    background-color: var(--dark-hover) !important;
    transition: 280ms;
}


.bg-theme-primary{
    background-color: var(--primary) !important;
}

.fc-primary-logo{
    color: var(--font-color);
    font-weight: bold;
}

.fc-secondary-logo{
    color: var(--font-color-2);
}


.border-rounded{
    border-radius: 20px !important;
}

/* fix size class */
.s-1{
    width: 250px;
}

.text-small{
    font-size: 12px;
}

/* Login */

.lh-sm{
   transform: translateY(35px);
}

.monitor{
    color: var(--primary);
    transform: translateY(-11px);
}

.input-primary{
    outline: none;
    border: none;
    background: none;
    padding: 10px 20px;
    border: 1px rgb(165, 165, 165) solid;
    margin: 5px 0;
    border-radius: 15px;
}

.input-primary.error{
    border: 1px rgb(204, 92, 92) solid;
    transition: 0.5s;
}


.btn-primary{
    outline: none;
    border: none;
    background: none;
    background-color: var(--primary);
    padding: 7px 30px;
    color: white;
    margin: 25px 0;
    border-radius: 20px;
}

.btn-secondary{
    outline: none;
    border: none;
    background: none;
    background-color: var(--font-color);
    padding: 7px 30px;
    color: white;
    margin: 25px 0;
    border-radius: 20px;
}

.btn-secondary:hover{
    background-color: var(--font-color-dark);
    transition: 280ms ease-in-out;
}


.btn-round{
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 100% !important;
}

.btn-primary:hover{
    background-color: var(--btn-bg-hover);
    transition: 280ms ease-in-out;
}

.icon-primary{
    width: 124px;
    height: 124px;
    object-fit: contain;
    margin-right: 10px;
}

.icon-small{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}

.btn-back{
    outline: none;
    border: none;
    background: none;
    background-color: var(--font-color);
    padding: 7px 30px;
    color: white;
    margin: 25px 0;
    border-radius: 20px;
}

.btn-back:hover{
    background-color: var(--font-color-dark);
    transition: 280ms ease-in-out;
}


/* End of Login area */

/* this is the loading styles and animation */

.loading{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 40px;
    height: 40px;
    margin: 25px 0;
    justify-content: space-around;
}


.dot{
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    border-radius: 100px;
    animation-name: loading-dot;
    animation-iteration-count: infinite;
    transition: 280ms ease;

}

#dot-1{
    animation-duration: 0.5s;
}
#dot-2{
    animation-duration: 1s;
}
#dot-3{
    animation-duration: 1.5s;
}

@keyframes loading-dot {
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(-10px); }
    100%{ transform: translateY(0px); }
}

.passenger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    border-radius: 20px;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    background-color: var(--container-bg);
}


.bg-white{
    background-color: white;
}


.scroll{
    height: 60vh;
    overflow: auto;
}


/* cancel modal */

.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.407);
}

.modal-box{
    width: 350px;
    height: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-m{
    margin: 0 !important;
}

/* transaction styles */

.no-link{
    color: black;
    text-decoration: none;
}